.reveal h2 { font-size: 2em; }

.reveal table tbody tr { font-size: 70%; }

.reveal pre { font-size: 1em;
              display: inline-block;
              margin: 0 auto;
              width: 100%; }

p.dal--console { text-align: left;
                 font-size: smaller;
                 font-family: monospace }

span.dal--slogan { text-align: left;
                   vertical-align: middle;
                   width: 50%;
                   display: inline-block; }

span.dal--dl4j-slogan { font-size: 0.7em;
                        margin-top: 1.4em; }
span.dal--mxnet-slogan { font-size: 0.7em;
                         margin-top: 1.6em;
                         margin-left: 1em;
                         width: 67%; }

span.dal--mnist { margin-top: 0.8em;
                  margin-left: 1.5em; }

span.dal--lstm { font-size: 0.9em;
                 margin-top: 1.1em;
                 margin-left: 1.5em; }

span.dal--highlight { color: #5197b7; }

code.clojure { background-color: transparent; }

code.small { font-size: 0.6em;
             line-height: 1em; }

code.big { font-size: 1.2em; }

div.attribution { font-size: 0.8em; }

p.dal--attribution { font-size: 0.6em; }

.reveal cite { text-align: left;
               font-size: 24px; }


h3.dal--fill-line-title { font-size: 59px; }

h3.dal--tricking { text-align: right; }
span.dal--tasks { color: #5197b7; }
h3.dal--tasks { color: #5197b7; }

.reveal section img.dal--no-border { border: none;
                                     box-shadow: none; }
.reveal section img { border: none; }
.reveal section img.dal--no-bg { background: none; }
.reveal section img.dal--mxnet-logo { background-color: transparent; }

div.dal--dark-bg { background: #444;
                   height: 3em;
                   color: #eee; }

div.dal--dark-bg img { background: none; }
